    body {
      font-family: Arial, sans-serif;
      background-color: #333336;
      margin: 0;
      padding: 0;
    }

    h1 {
      color: #e0166a;
      text-align: center;
      margin: 20px 0;
      padding-top: 100px;
    }

    .form-container {
      background-color: #161616;
      max-width: 500px;
      margin: 20px auto;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 5px rgba(0,0,0,0.2);
      color: white;
    }

    .form-container label {
      display: block;
      margin-top: 15px;
      font-weight: bold;
      color: #ffffff;
    }

    .form-container input {
      width: 100%;
      padding: 10px;
      margin-top: 5px;
      border: 1px solid #ccc;
      border-radius: 6px;
      font-size: 14px;
    }

    .form-container button {
      margin-top: 20px;
      width: 100%;
      padding: 12px;
      background-color: #e0166a;
      color: white;
      border: none;
      border-radius: 6px;
      font-weight: bold;
      cursor: pointer;
    }

    .form-container button:hover {
      background-color: #97134a;
    }
